
<div class="container">
  <h2>Sign up</h2>

<%= form_with  url: users_create_path, scope: :user,  local: true do |f| %>

<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Email</label>

    <%= f.email_field :email %>
  </div>

  <div class="form-group">
<label for="exampleFormControlSelect1">Password</label>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> characters minimum)
    <% end %><br />
    <%= f.password_field :password %>
  </div>



  <div class="form-group">
    <label for="exampleFormControlSelect1" >  Name </label>

    <%= f.text_field :name %>
    </div>


    <div class="actions">
        <button type="button" class="btn btn-dark">   <%= submit_tag "Sign up" %></button>
  </div>
</form>

  <% end %>
    </div>
